body {
    background: #e0e0e0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center
}

h2 {
    color: rgb(0, 0, 0);
    text-align: justify
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em
}

.Main.body {
    position: relative;
    padding-top: 2em;
}

img {
    width: 35%;
    /* margin: 10px auto 20px; */
    /* display: block; */
    border-style: groove;
    border-width: 0.2em;
    border-color: black;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}